.nav-section {
    background-image: url('../assets/Vector\ 2.png'); /* Use the same background image as Hero */
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
  }
  
  .nav-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #ff00ff, #00ffff);
    border-image-slice: 1;
    z-index: -1;
  }
  